{% extends 'base.html' %}
{% load static %}
{% block content %}
 
 <div class="container">
    
        <center>
            <img src="{% static '' %}" alt="" style="height: 100px; width:300px; border-radius: 20px; " class="mt-2">
        </center>
        <div class="heading">
            Blood Donate Form
        </div>
        <form method="POST" action="donateblood" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="form-group mt-3">
            <label for="">Enter Your Name</label>
            <input type="text" class="form-control" name="name" id="" placeholder="Name" required>
            <label for="">Father Name</label>
            <input type="text" class="form-control" name="fathername" id="" placeholder="Father Name" required >
            <label for="">Your Nearest Hospital or Camps</label>
            <select class="form-control" name="hospital">
                <option value="0">Choose Your Option</option>
                {% for i in data %}
                <option value="{{i.hospital}}">{{i.hospital}}</option>
                {% endfor %}
              </select>
            <label for="">Blood Group</label>
            <input type="text" class="form-control" name="group" id="" placeholder="Blood Group" required>
            <label for="">Email Id</label>
            <input type="email" class="form-control" name="email" id="" placeholder="Email Address" required> 
            <label for="">Contact Number</label>
            <input type="text" class="form-control" name="phone" id="" placeholder="Contact Number" required>
            <label for="">Address</label>
            <input type="text" class="form-control" name="address" id="" placeholder="Address" required>
            
            <center>
                <div class="inline mt-3 mb-5 col-md-12 col-sm-12">
                    <input type="submit" class="btn btn-primary mb-2 " value="Save" style="width: 200px;">
                    <input type="reset"  class="btn btn-primary mb-2" value="Reset" style="width: 200px;">
                
                </div>
            </center>   

        </div>
    </form>
</div>





{% endblock %}