{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--slider start======================================================================================-->
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 's (1).jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4 class="animated  rotateInDownLeft	delay-1s" >There is no great joy than saving a soul</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 's (2).jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4 class="animated  rotateInDownRight	delay-1s">A life may depend on a gesture from you, a bottle of Blood.</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 's (3).jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4 class="animated  rotateInDownLeft	delay-1s">Every blood donor is a life saver.</h4>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!--slider close ========================================================================================-->
      
      <!--about------------------------------------------------------------------------------------------>
      <div class="card" style="width: 100%; background: gray;">
          <img src="{% static 'about.jpg' %}" class="card-img-top" alt="..." style="height: 60px;">
          <div class="card-img-overlay">
              <h5 class="card-title" style="color: honeydew; "> Please Donate Blood And Save Life OF Other</h5>
          </div>
    <!-- card group===============================================================================-->
    
          <div class="card-group">
            <div class="card">
              <img src="{% static 'cg1.jpg' %}" class="card-img-top" alt="..." style="height: 200px;">
              <div class="card-body">
                <h5 class="card-title"> "Anybody Can Donate Blood"</h5>
                <p class="card-text" style="color: black;">A simple but catchy slogan for this Puget Sound Blood Center campaign. The poster adds value to the message by showing a group of diverse and funny people waiting in line, presumably to give blood..</p>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'cg2.jpg' %}" class="card-img-top" alt="..." style="height: 200px;">
              <div class="card-body">
                <h5 class="card-title">"Bring a life back to power"</h5>
                <p class="card-text" style="color: black;">Supported by a powerful poster showing a pointed bloody finger, this campaign slogan underlines the importance of blood giving. The quote has the merit of reminding in a straight forward way that giving blood means saving lives.</p>
                
              </div>
            </div>
            <div class="card">
              <img src="{% static 'cg3.png' %}" class="card-img-top" alt="..." style="height: 200px;">
              <div class="card-body">
                <h5 class="card-title">"Heroes come in all types and sizes"</h5>
                <p class="card-text" style="color: black;">Being a hero is not in reach for most of us, but this quote reminds you that we can really be of great help for someone in need by simply giving blood. The slogan was promoting a Bonfils Blood Center blood drive.</p>
                
              </div>
            </div>
          </div>
          
      <!--card group close==============================================================================-->
          <div class="card-body" style="background: rgb(248, 244, 244);">
            <h5 class="card-title">About Blood Bank</h5>
            <p class="card-text" style="color: black;">Blood bank: : A place where blood is collected from donors, typed, separated into components, stored, and prepared for transfusion to recipients. A blood bank may be a separate free-standing facility or part of a larger laboratory in a hospital.<br>

                Separation of blood: Typically, each donated unit of blood (whole blood) is separated into multiple components, such as red blood cells, plasma and platelets. Each component is generally transfused to a different individual, each with different needs.<br>
                
                An increasingly common blood bank procedure is apheresis, or the process of removing a specific component of the blood, such as platelets, and returning the remaining components, such as red blood cells and plasma, to the donor. This process allows more of one particular part of the blood to be collected than could be separated from a unit of whole blood. Apheresis is also performed to collect plasma (the liquid part of the blood) and granulocytes (white blood cells).<br>
                
                Who receives blood: Accident victims, people undergoing surgery and patients receiving treatment for leukemia, cancer or other diseases, such as sickle cell disease and thalassemia, all utilize blood. Over 20 million units of blood components are transfused every year in the US.<br>
                
                Giving blood to yourself: Patients scheduled for surgery may be eligible to donate blood for themselves, a process known as autologous blood donation. In the weeks before non-emergency surgery, an autologous donor may be able to donate blood that will be stored until the surgical procedure.<br>
                
                Typing and testing blood: After blood is drawn, it is tested for the ABO blood group type and the Rh type (positive or negative), as well as for any unexpected red blood cell antibodies that may cause problems in the recipient. Screening tests are also performed for evidence of donor infection with hepatitis viruses B and C, human immunodeficiency viruses (HIV) 1 and 2, human T-lymphotropic viruses (HTLV) I and II and syphilis.<br>
                
                </p>
          </div>
          <div class="card-body" style="background: rgb(248, 244, 244);">
            <center>
              <a href="#" class="card-link"><input type="submit" class="btn btn-danger" value="Learn More"></a>
            </center>
          </div>
        </div>



      <!--footer start---------------------------------------------------------------------------------------->
      <div class="card">
          <div class="card-body w-100" style="background: black;">
           <center>
            <table style="width: 100%;">
              <tr>
                <td> <a href=""> Need Help</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><a href=""> About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><a href=""> Link To Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><a href="" data-target="#contactmodel" data-toggle="modal"> Contact US</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><a href=""> FAQ</a></td>
                <td><div class="social-icon" >
                    <a href="https://www.facebook.com/"><img src="{% static 'fb.png' %}"width="20px" height="20px">&nbsp;&nbsp;&nbsp;</a>
                    <a href="https://twitter.com/login?lang=en"><img src="{% static 'twitter.png' %}"width="20px" height="20px">&nbsp;&nbsp;&nbsp;</a>
                    <a href="https://in.linkedin.com/"><img src="{% static 'linkedin.png' %}"width="20px" height="20px"></a>
                    </div>
                </td>
              </tr>
            </table>
            </center>
          </div>
        </div>
        <div class="card">
            <div class="card-body w-100" style="background: red; color:#fff;">
             <h1>Use of this web site constitute acceptance of the Terms of Use and Privacy Policy<br>
              Copyright © 2019, All rights reserved.Powred By Bhopal.</h1> 
            </div>
          </div>




  <!--script start=====================================================================-->
  {% endblock %}